<div class="col-md-3">

    <div class="card">

        <div class="card-body">

            <h6 class="card-title">#1 - Manto Flamengo Jogo 1 Adidas 2025</h6>
            <p class="text-secondary">1.231.967 vendas</p>
            <img src="https://flamengo.vteximg.com.br/arquivos/ids/172067-473-473/IV6052_FR_Torso_eCom-3-removebg-preview.png.png?v=638731056917300000" class="card-img-top">

        </div>

    </div>

</div>

<div class="col-md-3">

    <div class="card">

        <div class="card-body">

            <h6 class="card-title">#2 - Camisa Flamengo Pré Jogo Adidas 2025</h6>
            <p class="text-secondary">403.101 vendas</p>
            <img src="https://flamengo.vteximg.com.br/arquivos/ids/172346-473-473/Camisa-pre-jogo-do-Flamengo-2025-Adidas-1-removebg-preview.png.png?v=638736048397430000" class="card-img-top">

        </div>

    </div>

</div>

<div class="col-md-3">

    <div class="card">

        <div class="card-body">

            <h6 class="card-title">#3 - Manto Flamengo Goleiro 2 Adidas 2025</h6>
            <p class="text-secondary">377.525 vendas</p>
            <img src="https://flamengo.vteximg.com.br/arquivos/ids/172390-473-473/JE6688_FR_Torso_eCom-3-removebg-preview.png.png?v=638737961742500000" class="card-img-top">

        </div>

    </div>

</div>

<div class="col-md-3">

    <div class="card">

        <div class="card-body">

            <h6 class="card-title">#4 - Manto Flamengo Jogo 3 Adidas 2024</h6>
            <p class="text-secondary">291.789 vendas</p>
            <img src="https://flamengo.vteximg.com.br/arquivos/ids/171020-473-473/IT8540_FR_Torso_eCom-1-removebg-preview.png?v=638641881022030000" class="card-img-top">

        </div>

    </div>

</div>